
html {
     background-image: url("../images/bats.gif");
} 

body { 
    width: 800px;
    margin: 0 auto;
    font-family:"Georgia", Georgia, serif;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border-style: solid;
    
}

header{
    border-bottom: solid;
    background: linear-gradient(45deg, white, orange, black);
}

h1{
    font-size: 40px
}

main h1::first-letter{
    font-size: 70px;
}
 h2{ font-size: 25px;
 }
 
 header h1{
     margin-left: 150px;
 }
 
 header h2{
      margin-left: 150px;
     
 }
 
 img {
     float:left;
 }
 a{
     color:orange;
     font-weight: bold;
    
     
 }
 
 a:hover {
    color: green;
}
li{
     margin: 0 0 10px 0;
}

footer{
    background: linear-gradient(-45deg, white, orange, black);
    border-top: solid;
}

footer p{
    font-size: 14px;
        text-align: center;
}