html {
    
     background-image: url("../images/bats.gif");
} 

main{
   padding-left: 27%;
}

.navigation li a:active{
color:orange;
}

@media all and (max-width:800px){
    body{
        box-shadow: none;
    }
    
    html{
        background-image:none;
    }
    
    p{
        font-size: 90%;
    }
}

body { 
    width:95%;
    max-width: 960px;
    margin: 0 auto;
    font-family:"Georgia", Georgia, serif;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border-style: solid;
}

.side{
     height: 100%;
     float:left;
     width:20%;
     
 }
 
 .side li {
     border: black solid;
     list-style-type: none;;
     height: 2em;
     margin: 0 0 .5em 0;
     background-color: orange;
 }
 
 .side li a{
    font-size: 100%;
    margin: 1em 1em 1em 1em;
    color:black;
    text-decoration: none;
 }
 
  .side li a:hover {
    color: green;
}

.navigation{
    padding: .5em 0 .5em;
    background-color: black;
}

.navigation  li{
    display: inline-BLOCK;
    text-decoration: none;
}

.navigation li a {
    font-size: 100%;
    text-decoration: none;
    padding: 37px;
    color:white;
  
}
.navigation li a:active{
    color:orange;
}

.navigation li a:hover{
    color:grey;
}

header{
    border-bottom: solid;
    background: orange;
    background: -webkit-linear-gradient(45deg, white , orange, black); 
    background: -o-linear-gradient(45deg, white, orange, black); 
    background: -moz-linear-gradient(45deg, white, orange, black); 
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    clear:both;
}

h1{
    font-size: 1.7em;
}

main h1::first-letter{
    font-size: 1.7em;
}

 h2{ 
    font-size: 1.7em;
 }
 
 header h1{
    margin-left: 3em;
 }
 
 header h2{
     padding-left:.5em;
    margin-left: 3em;
 }
 
 header img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 15%;
    float:left;
    min-width: 40px;
     
 }
 
 main img{
     display: block;
     width:100%;
     max-width: 25%;
     height:auto;
     
 }
 
footer{
    border-top: solid;
    background: orange;
    background: -webkit-linear-gradient(-45deg, white , orange, black); 
    background: -o-linear-gradient(-45deg, white, orange, black); 
    background: -moz-linear-gradient(-45deg, white, orange, black); 
    padding: 1%;
   
}

footer p{
    font-size: 100%;
    text-align: center;
}